*{
    margin:5px;
    padding:0;
    box-sizing: border-box;
    padding-right: 20px;
    padding-left: 20px;
}
.container{
background-color:white;
padding-left: 40px;
}
.intro{
    float: left;
    padding-top: 10px;
    
}
.head2 h3{
    float:right;
    padding:20px;
}
.secondd{
padding-top: 150px;
}
.para{
    padding-top: 20px;
    padding-bottom: 20px;
}

.image{
    width:300px;
    height:320px;
    float:right;
    padding-top: 20px;
    
}
.submitt{
    background-color: chocolate;
    border:none;
    color:white;
    padding:5px 5px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    font-size: 16px;
    
}
.container2{
    padding-left: 40px;
    padding-top: 20px;
    background-color: lavender;
    border:1px solid white;
    border-radius: 20px;
    padding:10px 30px;
    overflow:hidden;
}
.rsidebar{
    float:right;
  
}
.lsidebar{
    float:left;
 
}
.end{
    background-color: white;
    padding-left: 40px;
}




